.newAdd {
  background: #23D7BC;
  color: #fff;
  border-radius: 20px;
  padding: 7px 17px;
}

.borderContent .border_bottom_position {
  width: 57%;
  position: absolute;
  bottom: 0;
  left: 22%;
  display: inline-block;
  border-bottom: 3px solid #1CB394;
}

.right_item_api {
  margin-left: 20px;
}

.advert  .ciclr {
  display: inline-block;
  width: 100px;
  height: 60px;
  overflow: auto;
}

.advert .ciclr img {
  width: 100%;
  height: 100%;
  transition: all 0.6s;
}

.advert .ciclr img:hover {
  transform: scale(1.4);
}

.right_item {
  background: #fff;
  border-bottom: 1px solid #DEDEDE;
  height: 50px;
}

.left_item span {
  margin-right: 5px;
  font-size: 25px;
  vertical-align: bottom
}

.apiManage_one_choolse i {
  margin-right: 5px;
  vertical-align: middle
}

.apiManage_one_input {
  position: relative;
}

.apiManage_one_input input {
  width: 45%;
  height: 30px;
  padding: 3px 30px 3px 10px;
  border-radius: 18px;
  border: 1px solid #DDDEE1;
}

.apiManage_one_input i {
  position: absolute;
  right: 8px;
  color: #808080
}

.apiManage_one {
  background: #FCFCFC;
  padding: 10px;
  padding-left: 20px;
}

.apiManage {
  padding: 10px;
}

.apiManage_two {
  vertical-align: middle;
  background: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}

.apiManageContainer {
  width: 100%;
  height: 100%;
  background-color: #fff;

}
.test {
  margin-bottom: 40px;
  border-bottom: 0;
}
/*公共部分样式*/
.pull-left {
  float: left;
}
.tool .ivu-tooltip-inner{
  white-space: normal;
}
.pull-right {
  float: right;
}

.text-center {
  text-align: center
}

.fontWeight {
  font-weight: bold
}

.mar_right {
  margin-right: 10px;
}

.color_aaa {
  color: #aaa;
}

.text-right {
  text-align: right
}

.cursor {
  cursor: pointer
}

@chart :utf8;
* {
  margin: 0;
  padding: 0;
  font-family: 'PingFangSC-Light', 'Hiragino Sans GB', Microsoft YaHei Light, Microsoft YaHei, Arial, sans-serif;;
  word-wrap: break-word;
  word-break: break-all;
  outline: none;
}

body {
  background: #FFFFFF;
  font-family: "Open Sans", Helvetica, Tahoma, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px
}

dl, ul, ol {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer; /*transition: all 0.5s ease 0s;*/
}

a:hover {
  text-decoration: none;
  color: #00c1de;
}

table {
  border-spacing: 0;
  width: 100%;
}

img {
  border: none;
  vertical-align: middle;
}

/*滚动条美化*/
::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 5px solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*Display*/
.disp-n {
  display: none;
}

.disp-b {
  display: block;
}

.disp-ib, a.btn {
  display: inline-block;
}

/*float*/
.fl {
  float: left;
}

.fr {
  float: right;
}

/* 文本对齐方式 */
.t-l {
  text-align: left;
}

.t-c {
  text-align: center;
}

.t-r {
  text-align: right;
}

.vc {
  vertical-align: middle;
}

.vt {
  vertical-align: top;
}

.vcm {
  vertical-align: -webkit-baseline-middle;
}

/*-----字体颜色-----*/
.c3 {
  color: #333
}

.c6 {
  color: #666;
}

.c9 {
  color: #999;
}

.cf {
  color: #fff;
}

.cblue {
  color: #00c1de;
}

.cgray {
  color: #a0a0a0;
}

.cgray1 {
  color: #e1dfdf;
}

/*-----背景颜色-----*/
.bg_f5 {
  background: #f5f5f5
}

.bg_ff {
  background: #fff;
}

.bg_16 {
  background: #16213a;
}

/*Font Size*/
.f12 {
  font-size: 12px;
}

.f14 {
  font-size: 14px;
}

.f16 {
  font-size: 16px;
}

.f18 {
  font-size: 18px;
}

.f20 {
  font-size: 20px;
}

.f22 {
  font-size: 22px;
}

.f24 {
  font-size: 24px;
}

.f26 {
  font-size: 26px;
}

.f28 {
  font-size: 28px;
}

.f30 {
  font-size: 30px;
}

.f34 {
  font-size: 34px;
}

.f60 {
  font-size: 60px;
}

.f80 {
  font-size: 80px;
}

.f120 {
  font-size: 120px;
}

/*width style*/
.wid_gd50 {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  min-width: 25px
}

.wid_gd100 {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  min-width: 125px
}

.wid_gd150 {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px
}

.wid_gd200 {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px
}

.wid_gd250 {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  min-width: 250px
}

.wid_gd300 {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px
}

.wid_gd350 {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  min-width: 350px
}

/*Font Style*/
.fb {
  font-weight: bold;
}

.fn {
  font-weight: none;
}

.fa {
  font-family: Arial;
}

.del {
  text-decoration: line-through;
}

.tdn {
  text-decoration: underline;
}

/*Position*/
.pos-r {
  position: relative;
}

.pos-a {
  position: absolute;
}

/*block*/
.block10 {
  height: 10px;
  line-height: 10px;
}

.block20 {
  height: 20px;
  line-height: 20px;
}

.block30 {
  height: 30px;
  line-height: 30px;
}

.block40 {
  height: 40px;
  line-height: 40px;
}

.block50 {
  height: 50px;
  line-height: 50px;
}

.block60 {
  height: 60px;
  line-height: 60px;
}

.block100 {
  height: 100px;
  line-height: 100px;
}

/*padding-Arrays*/
.p10 {
  padding: 0 10px;
}

.p15 {
  padding: 0 15px;
}

.p20 {
  padding: 0 20px;
}

.p30 {
  padding: 0 30px;
}

.p40 {
  padding: 0 40px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt50 {
  padding-top: 50px;
}

.pt100 {
  padding-top: 100px;
}

.pl5 {
  padding-left: 5px;
}

.pl15 {
  padding-left: 15px;
}

.pl30 {
  padding-left: 30px;
}

.pr5 {
  padding-right: 5px;
}

.pr15 {
  padding-right: 15px;
}

.pr30 {
  padding-right: 30px;
}

/*Margin-Arrays*/
.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.mt5 {
  margin-top: 5px
}

.mt10 {
  margin-top: 10px
}

.mt15 {
  margin-top: 15px
}

.mt20 {
  margin-top: 20px
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt70 {
  margin-top: 70px;
}

.mb5 {
  margin-bottom: 5px
}

.mb10 {
  margin-bottom: 10px
}

.mb15 {
  margin-bottom: 15px
}

.mb20 {
  margin-bottom: 20px
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml5 {
  margin-left: 5px
}

.ml10 {
  margin-left: 10px
}

.ml20 {
  margin-left: 20px
}

.ml30 {
  margin-left: 30px;
}

.ml40 {
  margin-left: 40px
}

.ml50 {
  margin-left: 50px;
}

.mr5 {
  margin-right: 5px
}

.mr10 {
  margin-right: 10px
}

.mr20 {
  margin-right: 20px
}

.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.mr50 {
  margin-right: 50px;
}

/*清楚浮动*/
.clear {
  clear: both;
  overflow: hidden;
  height: 0px;
  width: 0px;
}

.cl {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

* html
.clearfix {
  height: 1%;
}

.Clearfix {
  display: block;
}

/* for IE/Mac */
.clearfix {
  zoom: 1;
  display: block;
}

.img img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.border-bom1 {
  border-bottom: 1px solid #ddd;
}

.con {
  padding-left: 20px;
}

.ml-20 {
  margin-left: -20px;
}

.ml5 {
  margin-left: 5px;
}

/* 鼠标样式 */
.pointer {
  cursor: pointer;
}

/*
* 字母和单词换行设置
* @class Break 强制内容换行
* @class Nobreak 强制内容不换行
*/
.Break {
  word-break: break-all;
  word-wrap: break-word;
}

.Nobreak {
  word-break: keep-all;
  word-wrap: normal;
}

/*分页*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #666;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.hidden {
  opacity: 0
}

.pagination.box-radius > li > a {
  margin-left: 2px;
  border-radius: 4px;
}

.pagination > li:not(.disable) > a:hover, .pagination.box-radius > li:not(.disable) > a:hover {
  background: #1bb394;
  color: #fff;
  border: #1bb394 1px solid
}

.pagination > li.active > a {
  background: #1bb394;
  color: #fff;
  border: #1bb394 1px solid
}

.pagination > li.disable > a {
  color: #d3d3d3
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

div.ivu-spin-fix {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .4);
}

::-webkit-scrollbar {
  display: none;
}

.ivu-checkbox-checked .ivu-checkbox-inner {
  border-color: #1CB394;
  background-color: #1CB394;
}

.apiManage_two .ivu-checkbox-group-item {
  top: 0;
}
